.topic-wrapper-upper {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.body-main li {
    margin-bottom: 1.5rem;
}

.topic-wrapper {
    width: 100%;
    padding: 2rem;
    position: relative;
    background-image: url(./assets/topics-bg.webp);
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    position: relative;
}

.topic-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 1.5rem;
    background: rgba(241, 244, 246, 0.80);
    box-shadow: 12px 19px 28px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    padding: 2rem;
    position: relative;
}

.topic-content-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    width: 50%;
}

.topic-content-img {
    display: none;
}

.topic-image {
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.topic-image img {
    display: flex;
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {

    .topic-wrapper {
        padding: 1.5rem;
    }

    .topic-image {
        display: none;
    }


    .topic-content {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
    }

    .topic-content-text {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .topic-content-text ul {
        text-align: left;
    }

    .topic-content-img {
        display: flex;
        width: 100%;
    }

    .topic-content-img img {
        display: flex;
        width: 100%;
        height: auto;
    }
}